<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="extra_shipping_cost" instance="Comerline\CheckoutFields\Observer\SaveOrderObserver" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="Comerline_CheckoutFields_order_place_after" instance="Comerline\CheckoutFields\Observer\AfterPlaceOrder" />
    </event>
</config>