<?xml version="1.0"?>
<config>
    <preference for="Sm\MegaMenu\Model\ResourceModel\MenuItems\Collection" type="Comerline\ImprovedMegaMenu\Extended\MenuItemsCollection" />
    <preference for="Sm\MegaMenu\Model\MenuItems" type="Comerline\ImprovedMegaMenu\Extended\MenuItems" />
    <preference for="Sm\MegaMenu\Block\MegaMenu\View" type="Comerline\ImprovedMegaMenu\Extended\View" />
</config>
