<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="comerline_improvedmegamenu" id="comerline_improvedmegamenu">
            <module name="Comerline_ImprovedMegaMenu"/>
        </route>
    </router>
</config>
