<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="comerlineRunSyncg" xsi:type="object">Comerline\Syncg\Console\ComerlineSyncg</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="comerlineRunMappingSystem" xsi:type="object">Comerline\Syncg\Console\ComerlineMappingSystem</item>
            </argument>
        </arguments>
    </type>
</config>
