<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="comerline" translate="label" sortOrder="10">
            <label>Comerline</label>
        </tab>
        <section id="syncg" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Comerline Syncg</label>
            <tab>comerline</tab>
            <resource>Comerline_Syncg::Comerline_Syncg</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuración API</label>
                <field id="username" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Nombre de usuario</label>
                    <comment>Introduzca aquí su nombre de usuario.</comment>
                </field>
                <field id="password" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Contraseña</label>
                    <comment>Introduzca aquí su contraseña.</comment>
                </field>
                <field id="installation_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>URL de API</label>
                    <comment>Introduzca aquí la URL de la API.</comment>
                </field>
                <field id="shipping_rate_g4100_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>ID del producto encargado del envío</label>
                    <comment>Introduzca aquí el ID del producto que se encarga del precio del envío en G4100.</comment>
                </field>
                <field id="discount_g4100_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>ID del producto encargado de los descuentos</label>
                    <comment>Introduzca aquí el ID del producto que se encarga del precio a descontar (si fuera necesario) en G4100.</comment>
                </field>
                <field id="enable_order_sync" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sincronizar productos</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
